body {
  margin: 0;
  font: sans-serif;
}

ul #navi {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul #navi li {
  display: inline-block;
}

li {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.col-md-4:hover {
  background-color: #e9c237;
}

#navi .col-md-4 {
  text-align: center;
}

.active {
  color: #eb7d17;
}

h1 {
  text-align: center;
}
